<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Header Fragment -->
<head th:replace="fragments/header :: header(pageTitle='DBLOC IBS - Admin Settings')"></head>

<body ng-app="dblocapp">
    <!-- Navigation Fragment -->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    
    <div class="container main-body" style="margin-top: 70px;" ng-controller="SettingsController" ng-init="init()">

        <div class="row" >
            <div class="content-box">
                <div>
                    <div class="page-header">
                        <h3 class="text-center"><span>DBLOC-IBS Admin Settings</span></h3>
                    </div>
                </div>

                <div class="dbloc-table">
                    <div>
                        <button type="button" class="btn gold-button dbloc-add" ng-click="refresh()">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 50%">Name</th>
                                <th style="width: 30%">Value</th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in records">
                                <td>{{record.name}}</td>
                                <td>{{record.numberValue}}</td>
                                <td class="dbloc-controls">
                                    <i class="fa fa-pencil edit-action" data-toggle="modal" data-target="#form-body" data-title="Edit" ng-click="get(record.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="modal fade" aria-labelledby="Edit Settings" id="form-body">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-center">Edit Settings</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="form" novalidate="novalidate" ng-submit="submit(form)">
                                <div class="form-group" ng-class="{ 'has-error' : form.key.$invalid &amp;&amp; (form.key.$touched || submitted)}">
                                    <label class="control-label col-xs-4">Key</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-6" id="key" name="key" ng-model="formData.key" ng-required="true" readonly="true" />
                                        <ng-messages class="help-block" for="form.key.$error" ng-if="form.key.$touched || submitted">
                                            <div ng-messages-include="/messages"></div>
                                        </ng-messages>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid &amp;&amp; (form.name.$touched || submitted)}">
                                    <label class="control-label col-xs-4">Name</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-6" id="name" name="name" ng-model="formData.name" ng-required="true"  />
                                        <ng-messages class="help-block" for="form.name.$error" ng-if="form.name.$touched || submitted">
                                            <div ng-messages-include="/messages"></div>
                                        </ng-messages>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.numberValue.$invalid &amp;&amp; (form.price.$touched || submitted) }">
                                    <label class="control-label col-xs-4">Value</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-6" id="numberValue" name="numberValue" ng-model="formData.numberValue" ng-pattern="/\d+/" ng-required="required" />
                                        <ng-messages class="help-block" for="form.numberValue.$error" ng-if="form.numberValue.$touched || submitted">
                                            <div ng-messages-include="/messages"></div>
                                        </ng-messages>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
							<button type="submit" class="btn btn-success" data-submit="save" ng-click="submit(form)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/are-you-sure :: are-you-sure(message='Are you sure you want to delete record?')"></div>
        
        <div class="row" sec:authorize="hasRole('USER')">
            <div class="content-box">
                <div>
                    <div class="page-header">
                        <p>Access denied.</p>
                    </div>
                </div>
      		</div>
    	</div>
    </div>

    <!-- Footer Fragment -->
    <footer th:replace="fragments/footer :: footer"></footer>



    <script type="text/javascript">
	    $(document).ready(function() {
	    	$('body').tooltip({selector: '.edit-action, .remove-action'});
		});
    </script>

</body>

</html>